cs4rp
fttenv
rpenv
results
data
Llama-3.1-8B-Instruct
llama-3.1-8B-Instruct-Math
llama-3.1-8B-Instruct-Math2
hf_ak.txt
llama-2-7b
llama-2-7b-merged
llama-2-7b-enhanced
llama-2-7b-hf
results_modified
topk
output.png